.mobileNav {
    display:none;
}
.mobileMapContainer {
    display:none;
}
.mobileNav a {
    font-size: 32px;
    color: #fff;
}
.movNav a:not(:first-child) {
    border-top: 1px solid #f1f1f1;
}
.movNav ul {
    display: flex;
    flex-direction: column;
}
.movNav a {
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #3b3c5a;
    cursor:pointer;
}
.mobileSidebar {
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    z-index: 100;
    height: 100%;
    width: 300px;
    left:-300px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#mobileChartdiv {
    display:none;
}
.showMenu {
    left:0px !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 1300px) {
    .topSC {
        padding-top:25px;
    }








    .rmBlock {
        width: 250px;
    }
    .chartAndStats {
        flex-direction: column;
    }
    .statsContainer {
        max-width: unset !important;
        border-radius: 0px 0px 2px 2px !important;
        display: flex;
        justify-content: space-between;
    }
    .getNow {
        width: unset;
        align-items: center;
        justify-content: center;
    }
    .topSC span, .botSC span {
        font-size: 41px;
    }

}

@media screen and (max-width: 1200px) {
    .rmBlock {
        width: auto;
        padding-left: 50px;
    }
    .mapContainer {
        display:none;
    }
    .mobileMapContainer {
        display: flex;
        height: 781px;
        margin-bottom: -300px;
    }
    .mobileMapContainer svg {
        width: 26px;
    }
    .rmRow {
        flex-direction: column;
    }
    .rmBlock:not(:first-child) {
        margin-left: 0px;
        text-align: left;
        margin-top: 47px;
    }
    .rmBlock:first-child {
        margin-top:15px;
    }
    .rmBlock {
        text-align:left;
    }
    .roadMapOverlay {
        top: 60px;
        position: absolute;
    }
    .rmRow2 {
        flex-direction: column;
        top: 75px;
    }
}

@media screen and (max-width: 1152px) {
    .jumboLeft {
        padding-right:0px;
    }
    .whitePaperSection .sectionBody {
        flex-direction: column;
    }
    .leftSectionBody {
        width: 100%;
        padding-right: 0px;
        max-width:100%;
    }
    .rightSection {
        margin-top: 25px;
        max-width: 2000px;
    }
    .paymentBlocks ul li {
        flex-direction: column;
    }
    .amtReceiveFrob {
        margin-top: 25px;
        margin-left: 0px;
    }
    /* .langSelect {
        justify-content: flex-start;
        color: #3b3c5a;
        background: linear-gradient(-45deg, #EE7752, #3f00b3, #23A6D5, #23D5AB); 	background-size: 400% 400%; 	-webkit-animation: Gradient 5s ease infinite; 	-moz-animation: Gradient 5s ease infinite; 	animation: Gradient 5s ease infinite;
        margin-left: 0px;
        padding: 25px;
    } */
    .teamChild {
        width: calc(100% * (1/2) - 25px - -3px);
    }
    .teamChild:not(:first-child),  .teamChild:not(:nth-child(3)) {
        margin-left:25px !important;
    }
    .teamChild:first-child,  .teamChild:nth-child(3) {
        margin-left:0px !important;
    }




}

@media screen and (max-width: 1050px) {
    .flexIso {
        flex-direction: column;
    }
    .dualSection:first-child {
        margin-left: 0px;
        margin-bottom:0px;
    }
    .jumboLeft {
        margin-top: 0px;
    }
    .jumboLeft p {
        margin-top: 15px;
        margin-bottom: 0px !important;
    }
    .jumboLeftSub h2 {
        font-size: 21px;
    }
    .jumboLeftSub h4 {
        font-size: 15px !important;
    }




}

@media screen and (max-width: 992px) {
    .navRight {
        display:none;
    }
    .mobileNav {
        display:flex;
    }
    .jumboLeftSub h2 {
        max-width:1000px;
    }
    .jumboLeft {
        height: 200px;
    }
    .jumbotronContainer {
        flex-direction: column;
    }
    .jumboRight {
        padding-left: 0px;
        margin-top: 25px;
    }
    .jumbotronContainer {
        padding-bottom: 65px;
        padding-top: 30px;
    }
    .jumboLeftSub h2 {
        font-size: 26px;
    }
    .jumboLeft a {
        height: 50px;
        max-width: 180px;
    }
    .paymentFooter {
        flex-direction: column-reverse;
    }
    .pFLeft {
        margin-top: 25px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pFRight {
        justify-content: center;
    }
    .stepsNav ul {
        display: flex;
        flex-direction: column;
    }
    .stepsNav ul li:not(:first-child) {
        margin-top: 10px;
    }
    .stepsNav ul li {
        margin-right: 0px !important;
    }
    .stepsNav ul {
        justify-content: center;
        align-items: center;
    }
    .homeTopContainer {
        background-size: 1385px;
    }
    .pieContainer {
        flex-direction: column;
    }
    .pieIndividual:nth-child(2) {
        margin-top: 50px;
    }
    .footerRight ul {
        flex-direction: column;
        display: flex;
    }




}

@media screen and (max-width: 768px) {
    .isoMetric {
        margin-bottom: -65px;
    }
    .kraken {
        max-width: 250px;
        left: 135px;
    }
    .cloudRight {
        max-width: 45px;
        right: 124px;
        top: 65px;
    }
    .cloudMid {
        max-width: 45px;
        top: 69px;
        left: 120px;
    }
    .rocketMan {
        max-width: 68px;
        top: 62px;
        left: 148px;
    }




    .platformGrass {
        max-width: 350px;
    }
    .amtLeftToBeSold, .soldTag, .totalAmtForIco  {
        font-size: 22px;
    }
    .icoDistRow {
        flex-direction: column;
    }
    .icoDistBlock:last-child {
        margin-top: 25px;
    }
    #mobileChartdiv {
        display:flex;
    }
    #chartdiv {
        display:none;
    }
    .chartCont {
        flex-direction: row-reverse;
        padding-bottom: 25px;
        padding-top: 20px;
    }
    .chartTitleSection {
        flex-direction: column-reverse;
    }
    .chartTitleSection h4:first-child {
        height: 40%;
    }
    .chartTitleSection h4:nth-child(2) {
        height: 30%;
    }
    .chartTitleSection h4:nth-child(3) {
        height: 15%;
    }
    .chartTitleSection h4:nth-child(4) {
        height: 10%;
    }
    .chartTitleSection h4:nth-child(5) {
        height: 5%;
    }
    .icoBody ul li h2 {
        font-size:29px;
    }

    .teamChild {
        width: calc(100% * (1/1) - 25px - -3px);
    }
    .teamChild:not(:first-child),  .teamChild:not(:nth-child(3)) {
        margin-left:0px !important;
    }
}
@media screen and (max-width: 570px) {
    .teamRow {
        justify-content: center;
    }
.mobileMapContainer {
    margin-bottom: -253px;
}
.mobileMapContainer svg {
    width: 23px;
}
}
@media screen and (max-width: 414px) {
    .jumboLeftSub h2 {
        font-size: 21px;
    }
}
















